
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using MudBlazor


<MudAppProvider Theme="MyTheme.Default">
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity?.IsAuthenticated ?? true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>No tiene permiso para acceder a esta página.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Página no encontrada</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
</MudAppProvider>




     