/*Paleta de colores*/
:root {
    --apple-cafe-negro: #292627;
    --apple-cafe-beige: #cbc0ad;
    --apple-cafe-blanco: #ffffff;
    --apple-cafe-beige-pastel: #e6e1d7;
    --apple-cafe-beige-hoover: #a99d89;
    --drawer-bg-color: var(--apple-cafe-negro);
    --drawer-text-color: var(--apple-cafe-beige);
    --drawer-hover-bg: var(--apple-cafe-beige-hoover);
}

 /*Logo*/
.logo {
    width: 150px;
    height: 150px;
    background-image: url('/images/logo-apple-cafe.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    
}
/*
 Fondo del panel superior y navbar */
.bg-panel {
    background-color: var(--apple-cafe-blanco);
}
/*
 Fondo del header (logo + título) */
.bg-header {
    background-color: var(--apple-cafe-negro);
}
/*
 Color de texto general */
.text-primary-custom {
    color: var(--apple-cafe-beige) !important;
}

.btn-cerrar-sesion {
    background-color: var(--apple-cafe-negro); 
    color: var(--apple-cafe-blanco);  
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

    .btn-cerrar-sesion:hover {
        color: var(--apple-cafe-beige);  
        background-color: var(--apple-cafe-negro);   
    }
/*
 Tamaños responsivos */
.header-info {
    font-size: 0.9rem;
}

.select-sucursal {
    width: auto;
    font-size: 0.9rem;
}

 /*Navbar principal */
.navbar-custom {
    background-color: var(--apple-cafe-beige) !important;  
    font-size: 0.9rem;
}

     /*Marca */
    .navbar-custom .navbar-brand {
        color: var(--apple-cafe-blanco) !important;
        font-weight: bold;
    }

  /*   Ítems de navegación */
    .navbar-custom .nav-link {
        color: #ffffff !important;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

         /*Hover en nav-link*/ 
        .navbar-custom .nav-link:hover,
        .navbar-custom .nav-link:focus {
            background-color: var(--apple-cafe-negro);   
            color: var(--apple-cafe-beige) !important;
        }

     /*Dropdown sin flecha*/ 
    .navbar-custom .dropdown-toggle::after {
        display: none;
    }

   /*  Dropdown menú */
    .navbar-custom .dropdown-menu {
        background-color: var(--apple-cafe-negro);  
        font-size: 0.85rem;
        border: none;
    }

     /*Ítems de dropdown */
    .navbar-custom .dropdown-item {
        color: var(--apple-cafe-beige);   
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        /* Hover en dropdown-item */
        .navbar-custom .dropdown-item:hover {
            background-color: var(--apple-cafe-beige);
            color: var(--apple-cafe-blanco) !important;   
        }



.abm-container {
    width: 100vw;   
    height: 100vh;   
    padding: 0;
    margin: 0;
    font-size: 10px !important;
}

.abm-form {
    background-color: var(--apple-cafe-beige) !important;
    font-size: 10px !important;
}

.abm-grid {
    background-color: #FFFFFF ;
    overflow-y: auto;
    font-size: 10px !important;
}

.abm-form, .abm-grid {
    padding-top: 0 !important;
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

    .abm-grid thead {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

.table thead.mi-th th {
    background-color: var(--apple-cafe-beige) !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 14px !important;
    text-align: center !important;
}

thead.mi-th-cafe th {
    background-color: var(--apple-cafe-beige) !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 13px !important;
    text-align: center !important;
}




table.table tbody tr:nth-child(even) {
    background-color: var(--apple-cafe-beige-pastel) !important; /* un celeste suave */
}

/* Filas impares del tbody */
table.table tbody tr:nth-child(odd) {
    background-color: #FFFFFF !important; /* blanco */
}

/* Efecto hover para ambas */
table.table tbody tr:hover {
    background-color: var(--apple-cafe-beige-hoover) !important; /* celeste más oscuro al pasar el mouse */
}

 /*Responsive spacing */
@media (max-width: 768px) {
    .navbar-custom {
        font-size: 0.85rem;
    }

        .navbar-custom .nav-link {
            padding: 0.5rem 1rem;
        }
}
